.logo {
    width: 40px;
    height: 40px;
    margin-top: 2%;
}

.carrinho {
    font-size: 180%;
    margin-right: 3%;
}

.banner {
    max-height: 108px;
    border: 1px solid var(--ion-color-medium);
}

.sections-title {
    font-size: 1.1em;
    margin: 2% 2% 0 0;
}

.slides {
    margin-left: 2%;
};

ion-card {
    border-radius: 0.4em;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--ion-color-medium);
    min-height: 244px;
    max-height: 244px;
    min-width: 112px;
    max-width: 112px;
    margin: 4%;

    ion-card-header {
        padding: 0;
        
        img {
            min-height: 150px;
            max-height: 150px;
            min-width: 112px;
            max-width: 112px;
        }
    }

    ion-card-subtitle {
        --color: black;
        font-size: 0.85em;
        margin: 0 4% 2% 4%;
    }
    
    ion-card-title {
        --color: green;
        font-size: 1.2em;
        margin: 4% 0 4% 0;
    }
}

.partition {
    background: var(--ion-color-medium);
    height: 2px;
    margin-top: 1%;
}
