<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <img class="logo" src=".\assets\logo.png" alt="Logo Liber">
    <ion-icon name="cart-outline" slot="end" class="carrinho"></ion-icon>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar showCancelButton="focus" placeholder="Qual livro você procura?"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content class="banner">
    <ion-slides [options]="slideOptsBanner">
      <ion-slide *ngFor="let banner of banners;"><img class="banner-image" src={{banner.image}}>
      </ion-slide>
    </ion-slides>
  </ion-content>

  <section>
    <ion-title class="sections-title">Baseado em suas escolhas</ion-title>
    <ion-slides class="slides" [options]="slideOptsSlides">
      <ion-slide *ngFor="let book of choiceBased" (click)="go(book.id)" class="slide">
        <app-book-card [book]="book"></app-book-card>
      </ion-slide>
    </ion-slides>
  </section>

  <div class="partition"></div> 

  <section class="themed-section">
    <ion-title class="sections-title">Ofertas Diárias</ion-title>
    <ion-slides class="slides" [options]="slideOptsSlides">
      <ion-slide *ngFor="let book of daily" (click)="go(book.id)" class="slide">
        <app-book-card [book]="book"></app-book-card>
      </ion-slide>
    </ion-slides>
  </section>

  <div class="partition"></div>

  <section class="themed-section">
    <ion-title class="sections-title">Ficção</ion-title>
    <ion-slides class="slides" [options]="slideOptsSlides">
      <ion-slide *ngFor="let book of fiction" (click)="go(book.id)" class="slide">
        <app-book-card [book]="book"></app-book-card>
      </ion-slide>
    </ion-slides>
  </section>

  <div class="partition"></div>
  
  <section class="themed-section">
    <ion-title class="sections-title">Literatura</ion-title>
    <ion-slides class="slides" [options]="slideOptsSlides">
      <ion-slide *ngFor="let book of literature" (click)="go(book.id)" class="slide">
        <app-book-card [book]="book"></app-book-card>
      </ion-slide>
    </ion-slides>
  </section>

  <div class="partition"></div>

  <section class="themed-section">
    <ion-title class="sections-title">Novidades</ion-title>
    <ion-slides class="slides" [options]="slideOptsSlides">
      <ion-slide *ngFor="let book of new" (click)="go(book.id)" class="slide">
        <app-book-card [book]="book"></app-book-card>
      </ion-slide>
    </ion-slides>
  </section>

</ion-content>
