<ion-row>
  <ion-col>
    <img class="book-image" src={{book.image}}>>
  </ion-col>

  <ion-col class="teste">
    <ion-text color="tertiary">
      <h2>{{book.author}}</h2>
    </ion-text>

    <ion-text color="dark">
      <h1>{{book.name}}</h1>
    </ion-text>

    <div class="rating">
      <ion-icon name="star-sharp"></ion-icon>
      <ion-icon name="star-sharp"></ion-icon>
      <ion-icon name="star-sharp"></ion-icon>
      <ion-icon name="star-sharp"></ion-icon>
      <ion-icon name="star-sharp"></ion-icon>
      <ion-text color="tertiary">
        <h2>(2.200)</h2>
      </ion-text>
    </div>

    <ion-chip outline color="dark">
      <ion-label>Tecnologia</ion-label>
    </ion-chip>

    <ion-grid class="price">
      <ion-row>
        <ion-col class="price-col"><ion-text color="dark"><h3 class="price-text">Preço:</h3></ion-text></ion-col>
        <ion-col><ion-text color="danger"><h3 class="price-value">R$ {{book.price}}</h3></ion-text></ion-col>
      </ion-row>
    </ion-grid>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col>
    <ion-button (click)="presentToast()" expand="block" class="add-carrinho">Adicionar ao Carrinho</ion-button>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col>
    <ion-button (click)="alerta()" expand="block" class="add-cupom">Inserir cupom de desconto</ion-button>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col>
    <div class="partition"></div> 
  </ion-col>
</ion-row>

<ion-row>
  <ion-col class="desc">
    <ion-text color="dark"><h1 class="description">Descrição</h1></ion-text>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col class="book-description">
    <ion-text color="dark">
      <h2>
        {{book.description}}
      </h2>
    </ion-text>
  </ion-col>
</ion-row>
