ion-grid {
    overflow-y: scroll;
}

.teste {
    h1, h2 {
        font-size: 0.9em;
        margin: 2% 0 2% 0;
    }

    .rating {
        ion-icon {
            color: var(--ion-color-warning);
        }
        
        h2 {
            display: inline;
            font-size: 0.7em;
            margin-left: 4%;
        }
    }

    ion-chip {
        box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.2);
        margin-left: 0;
    }

    h3 {
        margin: 0;
        font-size: 0.9em;
    }

    .price,
    .price-col {
        padding-left: 0;
    }

    .price-text {
        color: var(--ion-color-medium-shade);
    }

    .price-value {
        font-weight: bold;
    }

    
}

ion-button {
    --color: black;
    text-transform: none;
}

.add-carrinho {
    height: 7vh;
    --background: linear-gradient(180deg, rgba(122, 255, 246, 0.94) 0%, #0bddcf 100%);
    
}

.add-cupom {
    height: 5vh;
    --background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(223,223,223,1) 100%);
}

.partition {
    background: var(--ion-color-medium);
    height: 2px;
    margin-top: 1%;
}

.desc {
    padding-top: 0;

    .description {
        font-weight: bold;
        font-size: 1em;
        margin: 1% 0 0 0;
    }
}

.book-description {
    h2 {
        margin: 1% 0 0 0;
        font-size: 0.8em;
    }
}