<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <img class="logo" src=".\assets\logo.png" alt="Logo Liber">

    <ion-icon name="search-sharp" slot="end" class="lupa"></ion-icon>

    <ion-icon name="cart-outline" slot="end" class="carrinho"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <app-book-sell *ngFor="let book of books" [book]="book"></app-book-sell>
</ion-grid>
