ion-grid {
    overflow-y: scroll;
}

.logo {
    width: 40px;
    height: 40px;
    margin-top: 2%;
}

.lupa {
    font-size: 180%;
    margin-right: 3%;
}

.carrinho {
    font-size: 180%;
    margin-right: 3%;
}