<ion-card>
  <ion-card-header>
    <img class="card-image" src={{book.image}}>
  </ion-card-header>
  <ion-card-subtitle class="book-name">{{book.name}}</ion-card-subtitle>
  <ion-card-title>R${{book.price}}</ion-card-title>
</ion-card>
