<ion-content>
  <img class="logo" src="../../assets/logo.png">
  <ion-text color="light">
      <h1>Junte-se ao Liber!</h1>
  </ion-text>

  <form [formGroup]="registerForm" (ngSubmit)="submitForm(registerForm)">
    <ion-list>
      <ion-item>
        <ion-input placeholder="E-mail" type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Nome de Usuário" type="text" formControlName="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Senha" type="password" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-row class="ion-justify-content-center">
      <ion-button type="submit" color="success" shape="round" [disabled]="registerForm.invalid">Cadastrar</ion-button>
    </ion-row>
  </form>
</ion-content>