ion-content {
    --background: url('../../assets/login-register/register.jpg') no-repeat center center / cover;
    
    .logo {
        display: block;
        margin: 3em auto 0 auto;
        width: 30%;
    }

    h1 {
        text-align: center;
        margin-top: 2%;
        font-weight: bold;
    }

    form {
        position: absolute;
        width: 100%;
        bottom: 1em;
        --ion-item-background: transparent;
        
        ion-item {
            margin: 2% 5% 2% 5%;
            --border-color: white;
            --background: #232323;
            opacity: 0.8;
        }
        
        ion-input {
            color: white;
            --placeholder-opacity: 1;
        }
    }
}