<ion-content>
    <img class="logo" src="../../assets/logo.png">
    <ion-text color="light">
        <h1>Liber</h1>
    </ion-text>

    <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm)">
    <ion-list>
        <ion-item>
        <ion-input placeholder="E-mail ou Nome de Usuário" type="text" formControlName="username"></ion-input>
        </ion-item>
        <ion-item>
        <ion-input placeholder="Senha" type="password" formControlName="password"></ion-input>
        </ion-item>
    </ion-list>
    <ion-row class="ion-justify-content-center">
        <ion-button type="submit" color="success" shape="round" [disabled]="loginForm.invalid">Entrar</ion-button>
    </ion-row>
    </form>
</ion-content>